

.header {
  list-style-type: none;
  margin: 0;
  height: 55px;
  background-color: #333;
  border-bottom: 2px solid #adadad;
}

.hLi {
  float: left;
  width: 16%;
  text-align: center;
  font-size: 19px;
  height: 35px;
  padding-top: 10px;
  margin-top: 5px;
  border-radius: 40px 2px;
  background-color: #A0EA90;
  color: #FFFFFF;
}

.leagues {
  width: 15%;
  border: 1px dashed black;
  background-color: #F8F8F8;
  margin: 2%;
  float: left;
  display: inline-block;
}

.leagueTable {
  list-style-type: none;
}

.league {
  border-bottom: 2px solid black;
  margin-right: 15px;
  margin-top: 2px;
}

.tables {
  width: 620px;
  height: 570px;
  background-color: white;
  margin-top: 2%;
  padding: 50px;
  border-radius: 100px 0;
  display: inline-block;
}

table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}

td,tr {
  padding: 2px;
  text-align: center;
}

.team {
  text-align: left;
  padding-left: 15px;
}

.teamName {
  width: 265px;
  text-align: left;
  padding-left: 15px;
}

.mini {
  width: 50px;
  text-align: center;
}